.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  max-width: 264px;
  width: 264px;
  margin-right: 24px;
  height: fit-content;
  border: 1px solid $filter-border;
  border-radius: 18px;
  padding: 12px;
  box-sizing: border-box;
}